<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GuitarStore Welcome</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <h1 class="text-center">Application OpenGuitarStore</h1>
        <div th:each="guitar : ${guitars}" class="col-md-4 my-1">
            <p th:text="${guitar.guitar_name}"></p>
    </div>
    <a th:href="@{homeSignedIn}">Test</a>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</div>

</body>
